@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");

/* Global styles */

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  
}


html {
  font-family: "Share Tech Mono", monospace;
  font-size: 12px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #8a8a8a;
  background: linear-gradient(to bottom, #39c0ec 0%, #b8e2f3 100%);
}

#landing-page{
    color:black;
}
a {
  text-decoration: none;
  color:#222222;
}

a:hover {
  color: #fcf876;
}
.btn:hover{
   color:#a7e72e
}

ul {
  list-style: none;
}

p {
  font-size: 1.4rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
/* header */

header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav-brand {
  width: 7rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 2px solid #3797a4;
}

.line1 {
  width: 15px;
  height: 3px;
  margin: 5px 0;
  background: linear-gradient(
    135deg,
    #60A3D9,
    rgb(255, 255, 255) 100%
  );
}

.line2 {
  width: 30px;
  height: 3px;
  background: linear-gradient(
    135deg,
    #60A3D9,
    rgb(255, 255, 255) 100%
  );
}

.line3 {
  width: 15px;
  height: 3px;
  margin: 5px 0;
  margin-left: 15px;
  background: linear-gradient(
    135deg,
    #60A3D9,
    rgb(255, 255, 255) 100%
  );
}

.menu-icon {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(55, 55, 55, 0.5);
  padding: 1.2rem;
  border-radius: 0% 0% 0% 40%;
}

.profile-pic {
  height: 9rem;
  width: auto;
  display: block;
  margin: 1.5rem 0;
}

.caption {
  display: block;
}

.nav-list {
  width: 24rem;
  height: 100vh;
  background-color: #222222;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: start;
  z-index: 998;
  transition: all 650ms ease-in-out;
}

.nav-list.active {
  right: 0;
}

.nav-item {
  margin: 1.2rem 0;
}

.nav-link {
  opacity: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius:50%;
  color: #cecece;
  text-align:center;
  letter-spacing: 1.5px;
}

.nav-link:hover {
  color: #cee397
}

.toggle {
  background: none;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px) scaleX(2);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px) scaleX(2);
  margin-left: 0px;
}

@keyframes navLinkAnimate {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

/* Landing Page */
.landing-page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      135deg,
      #003B73,
      rgba(135,206,250,0.5) 100%
    ),
    url("images/webdev.webp") center no-repeat;
  background-size: contain;
  position: relative;
}

.main-message {
  width: 100%;
  max-width: 58rem;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-message h2 {
  letter-spacing: 1.2rem;
  font-size: 3rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(27), blink 1s ease-in-out 7s infinite;
  width: 27ch;
  margin: auto;
  border-right: 4px solid rgba(255, 255, 255, 1);
}

@keyframes typing {
  75% {
    width: 0ch;
    color: #fcf876;
  }
  100% {
    width: 30ch;
  }
}

@keyframes blink {
  0% {
    border-right: 4px solid rgba(255, 255, 255, 0);
  }
  100% {
    border-right: 4px solid #fcf876;
  }
}

.main-message h3 {
  font-size: 6rem;
  margin: 1re #fcf876;
  color:#fcf876;
  background: linear-gradient(
    to right,
     #7adf1d,
    #ADFF2F
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.10px;
  -webkit-text-stroke-color:white;
}

.main-message p {
  text-transform: none;
  font-size: 1.7rem;
  font-weight: 400;
}

.intro-btn {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0 9px;
  background: #00BFFF;
  border-radius: 2rem;
  color: #fafafa;
  padding: 1rem 2.5rem;
  display: inline-block;
  margin-top: 2rem;
  transition: background-color 650ms;
  font-weight: 1000;
  letter-spacing: 2px;
}

.btn:hover {
  color: #fafafa;
  background-color: #F3F781;
}

.scroll-down i {
  color: #424242;
  transition: color 650ms;
  margin-top: 2rem;
  font-size: 3.5rem;
}

.scroll-down i:hover {
  color: #fcf876;
}

/* About */
.about {
  width: 80%;
  min-height: 40vh;
  max-width: 110rem;
  margin: auto;
}

.about .container {
  display: flex;
  align-items: center;
  min-height: 70vh;
}

.about-img img {
  height: 20rem;
  width: auto;
  border-radius: 60%;
  margin: 2rem;
  box-shadow: 5px 5px 5px 0 #91C1D8;
}

.about-text-box {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.about-text-box h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-family:Cambria;
}

.about-text-box p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin-bottom: 1.45rem;
}

hr {
  margin: 4rem 0;
  background: linear-gradient(
    to right,
    #60A3D9,
    #b8de6f
  );
  border: 0;
  height: 3px;
}

.title-heading h1 {
  font-size: 6em;
  margin: 0.5rem 0 1rem 0;
  text-align: center;
  font-family: Cambria;
}

.title-heading p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5rem;
  text-align: center;
  font-size:2rem;
}

/* Projects */

.projects {
  padding: 50px;
  max-height: auto;
  max-width: 110rem;
  margin: auto;
}

.has-margin-right {
  margin: 0 3rem 0 0;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.45rem 5rem 1.45rem;
}

.project-img {
  flex: 1;
}

.project-description {
  flex: 1;
}

.project-description a {
    font-size:20px;
}
.project-description h2 {
  font-size: 5rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    #60A3D9,
    #a7e72e
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-description p {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.project-link {
  display: inline-block;
  margin: 2rem 0;
  font-size: 1.4rem;
}
.headp h1{
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    #60A3D9,
    #a7e72e
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 500px;
  perspective: 1000px;
  box-shadow: 0 4px 8px 0 #B1D4E0;
  transition: 0.3s;
  border-radius: 8px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 #B1D4E0;
  border-radius: 8px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
}

.flip-card-front {
  background-color:#0074B7;
  color: black;
}

.flip-card-back {
  background-color: #0C2D48;
  padding: 5px;
  color: white;
  font-family: "Share Tech Mono", monospace;
  font-size: 12px;
  transform: rotateY(180deg);
}
.flip-card-back h1{
  font-family: "Share Tech Mono", monospace;
  font-size: 2rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    #60A3D9,
    #a7e72e
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.flip-card {
  float:left;
  justify-content: space-around;
  margin-left:15px;
  margin-right:15px;
  width: 30%;
  padding: 5px;
} 

/* Clear floats after the columns */
.project-description {
  content: "";
  display: table;
  clear: both;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .flip-card {
    width: 50%;
    float:center;
    align-items: center;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .flip-card {
    width: 100%;
    float:center;
    align-items: center;
  }
}
/* skills section styling */


.skills .skills-content .column{
  width: 60%;
  margin: 0 auto;
}
.skills .skills-content .left .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p{
  text-align: justify;
}
.skills .skills-content .left a{
  display: inline-block;
  background: #7adf1d;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #7adf1d;
  transition: all 0.3s ease;
}

.skills .skills-content .center .bars{
  align-items: center;
  margin-left: 20px;
  margin-bottom: 15px;
}
.skills .skills-content .center .info{
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .center span{
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .center .line{
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}
.skills .skills-content .center .line::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #7adf1d;
}
.skills-content .center .html::before{
  width: 90%;
}
.skills-content .center .css::before{
  width: 80%;
}
.skills-content .center .js::before{
  width: 75%;
}
.skills-content .center .angular::before{
  width: 50%;
}
.skills-content .center .mysql::before{
  width: 70%;
}

/* Contact */

.contact {
  width: 100%;
  min-height: 100vh;
  max-width: 90rem;
  margin: auto;
  padding-top: 5rem;
}

.contact h2 {
  text-align: center;
  font-family:Cambria;
  font-size:5rem;
  margin-bottom: 5rem;
}

.contact p {
  font-family: "Poppins", sans-serif;
  font-size: 2.0rem;
  padding: 0;
  margin: 0.9rem 2rem;
  text-align: center;                                                                 
}

.contact .container {
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact .right form .fields{
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea{
  height: 80px;
  width: 100%;
}
.contact .right form .name{
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
padding-top: 10px;
resize: none;
}
.contact .right form .button-area{
display: flex;
align-items: center;
}
.right form .button-area button{
color: #fff;
display: block;
width: 160px!important;
height: 45px;
margin:0 auto;
outline: none;
font-size: 18px;
font-weight: 500;
border-radius: 6px;
cursor: pointer;
flex-wrap: nowrap;
background:#39c0ec;
border: 2px solid #39c0ec;
transition: all 0.3s ease;
}
.right form .button-area button:hover{
color: #39c0ec;
background: none;
}
/* Footer */

footer {
  width: 100%;
  max-width: 70rem;
  margin: auto;
  padding: 2.5rem;
  color: #8a8a8a;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

footer a {
  margin: 0 0.2rem;
  font-size:2rem;
}

.footer-coded-by {
  margin: 2rem 0;
}

.footer-social a {
  margin: 0 0.5rem;
  font-size: 2rem;
}

/* Responsive Design */

@media (max-width: 995px) {
  .main-message h3 {
    font-size: 3rem;
  }
  .about .container {
    flex-direction: column;
  }
  p {
    font-size: 1.3rem;
  }
  .title-heading {
    margin: 0;
  }

  .services-tiers {
    gap: 0;
  }
  .project-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    box-shadow: 0 20px 30px 0 rgba(212, 255, 255, 0.15);
  }
  .project-img {
    width: 20rem;
  }
}

@media (max-width: 700px) {
  .main-message {
    top: 55%;
  }
  .main-message h2 {
    letter-spacing: 1rem;
    font-size: 1.5rem;
    width: 29ch;
  }

  .main-message h3 {
    font-size: 2rem;
  }

  .main-message p {
    font-size: 1.3rem;
  }
  .btn {
    border-radius: 0.9rem;
    padding: 0.9rem 0.9rem;
  }
  .about-text-box h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .about-text-box p {
    margin: 0 0 2.45rem;
  }

  .title-heading h2 {
    margin-bottom: 2rem;
  }
  .title-heading p {
    font-size: 1.3rem;
  }

  .contact .container {
    flex-direction: column;
  }

  footer,
  footer p {
    font-size: 4rem;
  }
}